#dash-panel {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
}

#dash-panel h1 {
	padding: 1rem;
	font-size: 2.5rem;
	color: white;
}
#welcome {
	background-color: #577399;
}

#dash-panel ul {
	background-color: #EBEBFF;
	padding: 12px;
}

#dash-panel li {
	font-size: 1.5rem;
	margin: 1rem 0;
	color: steelblue;
	cursor: pointer;
}

#dash-panel li:hover {
	opacity: 0.8;
}