.btnJoin {
	background-color: #577399;
	width: 100%;
	color: white;
	padding: 14px 30px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
}
#categoryForm {
	margin-bottom: 2rem;
	margin-top: 1rem;
}

#btnCancel {
	background-color: #ccc;
	color: black;
}