.row {
    display: flex;
    justify-content: space-between;
    border:2px solid var(--color-grey);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
	align-items: center;
	-webkit-transition: 0.5s;
	transition: 0.5s;
    width: 100%;
}

.row:hover {
    border:2px solid var(--color-blue);

}