/* Global */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
	--color-darkBlue:#495867;
	--color-skyBlue:#bdd5ea;
	--color-blue:#577399;
	--color-grey:#ccc;
	--color-lightGreen:#D1F0B1;
	--color-pinkRed: #fe5f55;
}
:-moz-any-link:focus {
	outline: none;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}
 
html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 12px;
}

h1, h4 {
	font-family: 'Roboto', sans-serif;
}

h4{
	font-size: 1.6rem;
}
 
a {
    text-decoration: none;
}



li {
	list-style-type: none;
}

label {
	font-size: 1.4rem
}

input[type=text], input[type=password]{
	width: 100%;
	padding: 12px 20px;
	margin: 1rem 0;
	box-sizing: border-box;
	border: 2px solid var(--color-grey);
	-webkit-transition: 0.5s;
	transition: 0.5s;
	font-size: 1.5rem;
	outline: none;
  }
input[type=text]:hover, input[type=password]:hover {
	border: 2px solid var(--color-blue);
}

input[type=text]:focus, input[type=password]:focus {
	border: 2px solid black;
}

button:hover {
	opacity: 0.8;
}

.h1-center {
	text-align: center;
	font-size: 25px;
	padding-top: 50px;
	padding-bottom: 30px;
}

.h4-center {
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 20px;
}

.btnMain {
background-color: var(--color-blue);
	color: white;
	padding: 14px 30px;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.btnMainWide {
	background-color: var(--color-blue);
	width: 100%;
	color: white;
	padding: 14px 30px;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.btnOpt {
	background-color: var(--color-lightGreen);
	color: grey;
	padding: 10px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	}
	
.btnWarning {
	background-color: var(--color-pinkRed);
	color: white;
	padding: 10px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	}
  
.btnMain:hover, .btnOpt:hover, .btnMainWide:hover {
	opacity: 0.8;
}

.main-content {
	margin-top: 70px;
	padding: 0px 10px;
}

.flex-center {
	display: flex;
	justify-content: center;
}


.list {
	padding: 10px;
	font-size: 1.5rem;
}

.container {
	width: 65%;
}

@media screen and (max-width: 900px) {
	.container {
		width:90%
	}
}

@media screen and (max-width: 600px) {
	.container {
		width: 100%
	}
	#district-h1{ 
		padding: 0;
	}

}