
.book-detail-container p{
	font-size: 1rem;
	width: 80%;

}

#mini-nav {
	margin-left: 10rem;
	margin-bottom: 2rem;
}

#mini-nav a, #mini-nav span {
	color: #346250;
}
#mini-nav span {
	font-weight: bold;
}
#book-detail-item-img {
	width: 260px;
}

#book-detail-h3, #seller-detail-panel h3 {
	font-size: 1.5rem;
	color: #495867;
	margin-bottom: 1rem;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#book-cost {
	font-size: 1.1rem;
	color: #346250;
	margin-bottom: 1.3rem;

}
#book-detail-panel {
	display: flex;
	flex-direction: column;
}

.label-column, .value-column {
	display: flex;
	flex-direction: column;
}

.label-column {
	padding-right: 1rem;
	color: #346250;
}

#top-book-panel {
	display: flex;
	flex-direction: row;
	margin-bottom: 4rem;
}



#book-detail-author {
	font-size: 1.3rem;
	margin-bottom: 0.5rem;
}
#auth {
	color: #346250;
}
#book-cost {
	font-size: 2.0rem;
}
#right-book-panel {
	margin-left: 3rem;
	margin-right: 3rem;
	width: 300px;
}
.label-column p {
	font-size: 1.2rem;

}
.detail-column p{
	font-size: 1.2rem;
	width: 150px;
}
#seller-detail-panel {
	background: #d7e4e9;
	padding: 2rem;
	margin-bottom: 2rem;
}

#book-detail-panel .label-row p, #seller-detail-panel .label-row p{
	font-size: 1.2rem;
	margin: 0.5rem 0;
	color: rgb(109, 108, 108);
}

#book-detail-panel .label-row p span, #seller-detail-panel .label-row p span {
	color: #346250;
}

#btnUpdate-bd {
	background: #577399;
	color: white;
	padding: 10px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
}
#btnDel-bd {
	background: #fe5f55;
	color: white;
	padding: 10px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;

}

#seller-detail-panel h3 {
	text-align: center;
}

@media screen and (max-width: 890px) {
	#mini-nav {
		margin-left: 1rem;
		margin-bottom: 2rem;
	}
}

@media screen and (max-width: 660px) {
	#right-book-panel {
		width: 200px;
	}
}

@media screen and (max-width: 560px) {
	#top-book-panel {
		flex-direction: column;
	}
	#right-book-panel {
		margin-top: 3rem;
	}
}