#grid-container {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	 row-gap: 0.5rem;
	 column-gap: 0.5rem;
	 text-align: center;
}

#book-item-row {
	display: flex;
	flex-direction: column;
    border:2px solid var(--color-grey);
    border-radius: 0.5rem;
	align-items: center;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	width: 100%;
	text-align: center;
	background-color: #f7f7ff;
}
#book-item-row h3{
	padding-top: 1rem;
}

#book-item-img {
	width: 80%;
}
@media screen and (max-width:650px) {
	#grid-container {
		grid-template-columns: 33.33% 33.33% 33.33%;
		
	}	
}
@media screen and (max-width:400px) {
	#grid-container {
		grid-template-columns: 50% 50%;
		
	}	
}